<div>
    {{#if hay}}
        {{#each productos}}
            <div style="display: flex; justify-content:space-around">
                <p>{{this.nombre}}</p>
                <p>${{this.precio}}</p>
                <img src={{this.img}} alt={{this.nombre}} style="height: 120px;">
            </div>
        {{/each}}
        {{else}}
        <h4>No hay productos</h4>
    {{/if}}
    <a href="/">Agregar un producto</a>
</div>